@mixin panel {
  background-color: white;
  border-radius: $border-radius;
  padding: 2rem;
  box-shadow: $box-shadow;
}

.panel {
  @include panel;
}

.main-panel {
  @include panel;
  margin-top: 1rem;
}
