@use "sass:map";

body {
  background-color: $color-bg-main;
}

@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include container;
  max-width: map.get($display, 'xl');
}

@each $size in $display-sizes {
  .container-#{$size} {
    @include container;
    max-width: map.get($display, $size);
  }
}


.header {
  padding: 1rem $content-padding;
}

.site-title {
  font-size: 1.5rem;
}