@use "sass:map";

body {
  background-color: $color-bg-main;
}

@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  @include container;
  max-width: map.get($display, 'xl');
}

.container-md {
  @include container;
  max-width: map.get($display, 'md');
}

.header {
  padding: 1rem $content-padding;
}

.site-title {
  font-size: 1.5rem;
}