@use "sass:map";

$font-size: 15px;

$palette-1: #e8eef7;
$palette-2: #e3e3e3;
$palette-3: #555555;

$color-bg-main: $palette-1;
$color-code-emph: $palette-2;
$color-bg-code: $palette-3;

$display-sizes: 'xs', 'sm', 'md', 'lg', 'xl';

$display: (
  'xs': 408px,
  'sm': 576px,
  'md': 768px,
  'lg': 1008px,
  'xl': 1248px,
);

@mixin breakpoint($size) {
  @media (min-width: map.get($display, $size)) {
    @content;
  }
}

$border-radius: 0.25rem;
$box-shadow: 0 0 3px #bbb;
$content-padding: 3rem;